.total {
	min-width: 85%;
	min-height: 100px;
	align-items: flex-start;
}

.total p:last-child {
	font-size: 3em;
}

.action-btns {
	display: flex;
	margin: 24px;
	gap: 24px;
}

.exchange-icon,
.withdraw-icon,
.add-founds-icon {
	--icon-size: 32px;
}

.action-btn {
	--action-btn-size: 4em;
	border-radius: 8px;
	background-color: var(--btn-portfolio-action-bg);
	width: var(--action-btn-size);
	height: var(--action-btn-size);
}

.wallet-list {
	min-width: 50%;
	min-height: 100px;
}

.wallet-item {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.wallet-balance {
	margin-left: auto;
}

.new-wallet-group,
.existing-wallet-group {
	gap: 1em;
}
