@import 'icons.css';
@import 'colors.css';

.group-name {
	display: block;
	color: var(--color-gray-500);
	text-align: center;
	font-style: italic;
	margin-top: 2em;
	user-select: none;
}

.developers-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 32px;
	width: fit-content;
	margin: 16px auto;
	flex-wrap: wrap;
}

.developer {
	width: 275px;
	height: 350px;
}

.developer img {
	border-radius: 50%;
	width: 128px;
	height: 128px;
	object-fit: cover;
	border: 2px solid var(--color-gold-400);
}

.developer h2 {
	margin-bottom: -8px;
}

.developer hr {
	background-color: var(--color-gold-200);
	height: 1px;
	border-radius: 99px;
	border: 0;
	width: 100%;
}

.developer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	align-self: flex-start;
}

.developer ul li {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin: 0.5em 0em;
}

.developer ul li a {
	text-decoration-color: var(--color-gray-600);
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

q {
	font-style: italic;
	font-size: 1.25em;
}

.author {
	margin-top: 1.5em;
	margin-left: 5em;
}

.author::before {
	content: '— ';
}

@media (prefers-color-scheme: light) {
	.group-name {
		color: var(--color-gray-700);
	}

	.developer img {
		border-color: var(--color-gold-600);
	}

	.developer hr {
		background-color: var(--color-gold-800);
	}
}

@media (min-width: 425px) {
	.group-name {
		margin-left: 50px;
		text-align: left;
	}
}

@media (min-width: 768px) {
	.group-name {
		margin-top: 0;
	}

	.quote {
		margin-top: 32px;
		width: 375px;
		margin-left: min(25vw, 325px);
	}
}
