header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 25px;
	user-select: none;
}

.logo-container {
	width: fit-content;
}

.logo-container h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.logo-container h1 a {
	text-decoration: none;
}

.btn-container {
	display: flex;
	gap: 16px;
}

.primary-btn {
	background-color: var(--color-fg);
	color: var(--color-bg);

	border-radius: 99px;
	padding: 0.5em 1em;
}
