main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'about .'
		'. .';
	gap: 64px;
	flex-grow: 1;
	padding: 0 32px 32px;
}

section {
	position: relative;
}

section h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

section p {
	margin-bottom: 1em;
	padding-left: 1em;
}

section a {
	text-decoration: none;
	color: var(--color-1);
	width: fit-content;
	height: fit-content;
	align-self: flex-end;

	user-select: none;

	border-radius: 7px;
	padding: 0.4em;
}

section a::after {
	content: ' →';
}

.about {
	grid-area: about;
	display: flex;
	flex-direction: column;
	min-width: 500px;
	margin-top: 32px;
	margin-left: 32px;
}
