/* FIXME: mobile first*/
main {
	display: flex;
	gap: 64px;
	justify-content: center;
	align-items: center;
}

section a {
	text-decoration: none;
	width: fit-content;
	height: fit-content;

	user-select: none;

	padding: 0.4em;
}

section a::after {
	content: ' →';
}

.about {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.about a {
	border-radius: 7px;
}

.about h2 {
	font-weight: normal;
	font-style: italic;
	font-size: 3em;
	margin-left: 1em;
	line-height: 48px;
}

.about p {
	margin-top: 32px;
	margin-bottom: 48px;
}

.currencies {
	background: linear-gradient(to bottom right, #343257, #1e1c41),
		linear-gradient(to bottom right, #666489, #312f54);

	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	border: 2px solid transparent;
	border-radius: 16px;

	width: 400px;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 16px 32px;
}

.currencies a {
	justify-self: flex-end; /* FIXME */
	border-radius: var(--INF);
}

.currency {
	display: flex;
	gap: 8px;
	width: 100%;
	justify-content: space-between;
}

.currency-symbol {
	font-weight: bold;
}

.currency-usd-value::before {
	content: '$';
}

/* TODO: media queries */
