[class$='icon'] {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	background-image: var(--svg);
	background-size: cover;
	background-position: center;
}

.github-icon {
	--svg: url(https://icongr.am/simple/github.svg?size=128&color=ffffff&colored=false);
}

.linkedin-icon {
	--svg: url(https://icongr.am/simple/linkedin.svg?size=128&color=ffffff&colored=false);
}

.instagram-icon {
	--svg: url(https://icongr.am/simple/instagram.svg?size=128&color=ffffff&colored=false);
}
