[class$='icon'] {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	background-image: var(--svg);
	background-size: cover;
	background-position: center;
}

@media (prefers-color-scheme: light) {
	.github-icon {
		--svg: url(https://icongr.am/simple/github.svg?color=242247);
	}

	.linkedin-icon {
		--svg: url(https://icongr.am/simple/linkedin.svg?color=242247);
	}

	.close-icon {
		--svg: url(https://icongr.am/material/close.svg?color=242247);
	}

	.swap-icon {
		--svg: url(https://icongr.am/material/swap-vertical.svg?color=242247);
	}
}

@media (prefers-color-scheme: dark) {
	.github-icon {
		--svg: url(https://icongr.am/simple/github.svg?color=ffffff);
	}

	.linkedin-icon {
		--svg: url(https://icongr.am/simple/linkedin.svg?color=ffffff);
	}

	.close-icon {
		--svg: url(https://icongr.am/material/close.svg?color=ffffff);
	}

	.swap-icon {
		--svg: url(https://icongr.am/material/swap-vertical.svg?color=ffffff);
	}
}
