@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'header.css';

:root {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, system-ui,
		sans-serif;

	--color-1: #544f57;
	--color-2: #ecc887;
	--color-3: #faf0ff;
	--color-4: #aaaaaa;

	--INF: 999px;

	color: var(--color-fg);
	background-color: var(--color-bg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-drag: none;
}

* ::selection {
	background-color: var(--color-fg);
	color: var(--color-bg);
}

button {
	background-color: var(--color-bg);
	color: var(--color-fg);
	border: 0;
	cursor: pointer;
}

a {
	color: inherit;
}

.highlight {
	color: var(--color-2);
}

.primary {
	background-color: var(--color-2);
	color: var(--color-bg);
	text-wrap: nowrap;
}

.primary:hover {
	background-color: var(--color-3);
	color: var(--color-bg);
}

.secondary {
	color: var(--color-4);
	text-wrap: nowrap;
}

.secondary:hover {
	color: var(--color-fg);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #242247;
		--color-fg: #faf0ff;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg: #faf0ff;
		--color-fg: #242247;
	}
}

@media (min-width: 1440px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
